:root {
  --bg: #b9d3af;
  --brown: #86716a;
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --darkSalmon: #a0483c;
  --leaf: #d1e275;
  --sky: #41aadd;
  --coffee: #44231b;
  --cream: rgb(255, 239, 229);

  --lightText: rgb(255, 232, 217);
  --trCream: rgba(255, 232, 217, 0.747);
  --darkText: #3d1a15;
  --solveText: #3d1a1580;

  --shadow: #39161096;
}

html, body, #root, .app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Jost;
  background: radial-gradient(circle at bottom left, #d9baed66, transparent 20%), radial-gradient(circle at top right, #edddba9e, transparent);
  background-color: #f9cde2;
  color: var(--darkText);
}

h1, h2, h3 {
  margin: 0;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  color: unset;
}

/* --- */

.backButton {
  user-select: none;
  padding: 1vh;
  box-sizing: border-box;
  min-height: 48px;
  color: var(--salmon);
}

.alert {
  z-index: 11;
  position: absolute;
  bottom: 10vh;
  min-width: 200px;
  width: max-content;
  padding: 1vh;
  border-radius: 25px;
  border: 2px solid var(--darkText);
  box-shadow: 0 2px 3px var(--shadow);
  background-color: var(--cream);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

/* BOARD */

.tiles {
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 24px;
  aspect-ratio: 1;
  flex: none;
  position: relative;
}

@media (max-width: 720px) {
  .tiles {
    left: -10px;
  }
}

.tileContainer {
  aspect-ratio: 1;
  padding: 0;
  position: absolute;
  transition: top 0.25s cubic-bezier(0.14, 0.92, 0.87, 1), left 0.25s cubic-bezier(0.14, 0.92, 0.87, 1);
  user-select: none;
  cursor: text;
}

.tile {
  margin: 4px;
  width: calc(100% - 8px);
  aspect-ratio: 1;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  padding: 0;
  background: var(--cream);
  box-shadow: 0 2px 0 0 #d19494;
  position: relative;
  overflow: hidden;
}

input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Jost';
  font-size: 24px;
  outline: none;
  color: var(--darkText) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.woodgrain {
  pointer-events: none;
  user-select: none;
  position: absolute;
}

.woodgrain path {
  fill: #d1949452;
}

.rSum,
.bSum {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
}

.rSum {
  right: -40px;
}

.bSum {
  bottom: -40px;
}

/* BUTTONS */

.buttons {
  padding: 0;
  width: 100%;
}

.button {
  min-width: 48px;
  height: 32px;
  text-align: center;
  justify-content: center;
  margin: 0 4px;
  border: 1px solid #ad6e8f85;
  border-radius: 4px;
  user-select: none;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}